<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form th:action="@{/dateAfter}" method="get">
                Search for explores after certain date: <input type="date" name="dateAfter">
                <button id="submit" type="submit">Search</button>
            </form>
        </div>
        <div class="col-6">
            <form th:action="@{/wordContaining}" method="get">
                Search for titles containing specific word: <input type="text" name="wordContaining">
                <button id="submit" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <table class="table table-light">
        <tr th:each="n, iStat : ${news}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td class=" d-flex justify-content-center"><img class="rounded" style="width: 150px; height: auto;"
                                                            th:src="${n.photoUrl}"/>
            </td>

            <td class=""><h4 class="pl-5"><a th:href="${n.url}" th:text="${n.title}"
                                             style="text-decoration: none"></a></h4>
                <div class=" text-end text-muted"><img
                        src="https://static.vecteezy.com/system/resources/previews/005/988/959/original/calendar-icon-free-vector.jpg"
                        height="20px" width="20px"><span style="font-size: 10px;" th:text="${n.date}"></span></div>
            </td>
        </tr>
    </table>

    <nav aria-label="Page navigation example" class=" footer d-flex justify-content-center">
        <!--        Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]-->
        <!--        <br>-->
        <ul class="pagination">
            <li class="btn btn-light">
                <a style="text-decoration: none" th:if="${currentPage > 1}" th:href="@{/explore/page/1}">First</a>
                <span th:unless="${currentPage > 1}">First</span>
            </li>

            <li class="btn btn-light">
                <a style="text-decoration: none" th:if="${currentPage > 1}"
                   th:href="@{'/explore/page/' + ${currentPage - 1}}">Previous</a>
                <span th:unless="${currentPage > 1}">Previous</span>
            </li>

            <li class="btn btn-light">
               <span th:each="i: ${#numbers.sequence(1, totalPages)}">
               <a style="text-decoration: none" th:if="${i != currentPage}" th:href="@{'/explore/page/' + ${i}}">[[${i}]]</a>
               <span th:unless="${i != currentPage}">[[${i}]]</span>
               </span>
            </li>

            <li class="btn btn-light">
                <a style="text-decoration: none" th:if="${currentPage < totalPages}"
                   th:href="@{'/explore/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </li>

            <li class="btn btn-light">
                <a style="text-decoration: none" th:if="${currentPage < totalPages}"
                   th:href="@{'/explore/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </li>
        </ul>
    </nav>
</div>