<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</head>
<body style="background-image: url('https://media.istockphoto.com/photos/river-in-mountains-with-rocks-green-grass-on-riverside-mountain-sky-picture-id1063747252?k=20&m=1063747252&s=170667a&w=0&h=HvgGt9amkqW3Y1HP61pdBgq-cotGOiMWB8fyCLDRxI4='); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<div class="container">
    <div style="height: 300px;"></div>
    <h1 class="text-center">Help Yourself</h1>
    <div class="row">
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-light text-dark  border border-dark" href="/login" role="button" style="width: 100px">Log In</a>
        </div>
        <div class="col-6 d-flex justify-content-start">
            <a class="btn btn-dark text-white" href="/login" role="button" style="width: 100px">Register</a>
        </div>
    </div>
</div>
</body>
</html>